[submodule "01_data/01_raw_data/01_Preliminary_Psychedelics_2p"]
	path = 01_data/01_raw_data/01_Preliminary_Psychedelics_2p
	url = /media/meng/Seagate Expansion Drive/datalad_datasets/01_Preliminary_Psychedelics_2p
	datalad-id = e3242ce6-3a60-4675-9907-e254e10da86e
[submodule "01_data/01_raw_data/02_Psychedelics_L5b_2p"]
	path = 01_data/01_raw_data/02_Psychedelics_L5b_2p
	url = /media/meng/Seagate Expansion Drive/datalad_datasets/02_Psychedelics_L5b_2p/
	datalad-id = 19333440-abf2-41cd-a980-19f626ca8cef
[submodule "01_data/03_combined_data/01_Preliminary_Psychedelics_pandas"]
	path = 01_data/03_combined_data/01_Preliminary_Psychedelics_pandas
	url = ./01_data/03_combined_data/01_Preliminary_Psychedelics_pandas
	datalad-id = 44dd3bbd-1f88-473d-b99d-013103488a75
[submodule "02_code/01_prism_somata"]
	path = 02_code/01_prism_somata
	url = ./02_code/01_prism_somata
	datalad-id = 0437f3cb-e770-4ee3-9e45-69b51d48c34c
[submodule "01_data/02_preprocessed_data/01_Preliminary_Psychedelics_suite2p"]
	path = 01_data/02_preprocessed_data/01_Preliminary_Psychedelics_suite2p
	url = /media/meng/Seagate Expansion Drive/datalad_datasets/01_Preliminary_Psychedelics_suite2p/
	datalad-id = c44b7cea-12e0-4fc5-9696-731f238ba458
	datalad-url = /media/meng/Seagate Expansion Drive/datalad_datasets/01_Preliminary_Psychedelics_suite2p/
[submodule "02_code/02_prism_soma_dendrite"]
	path = 02_code/02_prism_soma_dendrite
	url = ./02_code/02_prism_soma_dendrite
	datalad-id = f5111334-56fb-4816-ad09-4de7179fa4c0
[submodule "01_data/02_preprocessed_data/02_Psychedelics_L5b_suite2p"]
	path = 01_data/02_preprocessed_data/02_Psychedelics_L5b_suite2p
	url = ./01_data/02_preprocessed_data/02_Psychedelics_L5b_suite2p
	datalad-id = 342b472d-4fce-47b8-8f51-e34da93cdc88
[submodule "01_data/01_raw_data/01_Preliminary_Psychedelics_bpod"]
	path = 01_data/01_raw_data/01_Preliminary_Psychedelics_bpod
	url = ./01_data/01_raw_data/01_Preliminary_Psychedelics_bpod
	datalad-id = fa24bca8-71a6-4f30-bd40-a3a0b174e916
